$color-text: #fff;
$color-main: gold;
$color-button-hover: #000;
$background-color-section: #f7f7f7;

$font-main: 'Rebelton', sans-serif;
$font-italic: 'Rebelton Light', sans-serif;
$font-main-medium-weight: 'Rebelton Medium', sans-serif;
$font-logo: 'Thirst', sans-serif;
$font-italic2: 'Lagu Sans', sans-serif;

/* GLOBAL */

@font-face {
    font-family: 'Rebelton';
    src: url("/fonts/Rebelton/Rebelton\ Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Rebelton Medium';
    src: url("/fonts/Rebelton/Rebelton\ Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Rebelton Light';
    src: url("/fonts/Rebelton/Rebelton\ Light\ Italic.ttf") format('truetype');
}

@font-face {
    font-family: 'Thirst';
    src: url("/fonts/ThirstyScriptExtraBoldDemo.otf") format('opentype');
}

@font-face {
    font-family: 'Lagu Sans';
    src: url(/fonts/laguserif-lightitalic.otf) format('opentype');
}

*, ::before, ::after {
    box-sizing: border-box;
}

.row {
    margin: 0;
}

body {
    margin: 0;
}

.section-header {
    text-align: center;
    padding: 50px;
}

.section-title {
    font-family: $font-main-medium-weight;
    font-size: 35px;
    margin-bottom: 10px;
    word-spacing: -10px;
}

.section-subtitle {
    font-family: $font-italic;
    margin: 0;
    word-spacing: -3px;
    font-size: 15px;
}

.container {
    max-width: 1140px;
}

ul {
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;

    li {
        display: inline;
    }
}

/* NAV */

nav {
    font-size: 20px;
    color: $color-text;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    a {
        text-align: center;
        padding: 15px;
        font-family: $font-logo;
        color: $color-main;
        text-decoration: none;
        font-size: 30px;
    }

    ul { 

        li {
        padding: 15px;
        font-family: $font-main-medium-weight;
        font-size: 15px;
        cursor: pointer;
        }
    }
}

/* HEADER */

.splash-inner {
    color: $color-text;
    text-align: center;
    height: 100vh;
    background-image: url("/images/12.png");
    background-size: cover;
    align-content: center;
    
    .btn {
        color: $color-text;
        border-radius: 3px;
        padding: 15px 40px 25px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
        font-family: $font-main-medium-weight;
        word-spacing: -6px;
        cursor: pointer;
        position: relative;
        z-index: 1;
        background-color: $color-main;
    }
}

.btn::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    right: 50%;
    left: 50%;
    bottom: 0;
    content: '';
    background-color: $color-button-hover;
    opacity: 0;
}

.btn:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: .2;
    z-index: 2;
}



.first-header {
    font-size: 35px;
    font-family: $font-main;
    margin: 0;
}

.second-header {
    font-size: 60px;
    text-transform: uppercase;
    font-family: $font-main;
    margin-top: 0;
    word-spacing: -1rem;
}


/* SERVICES */

.service-info {
    text-align: center;

    i {
        font-size: 30px;
        color: $color-main;
        border: 2px solid $color-main;
        border-radius: 50%;
        padding: 10px;
    }

    h3 {
        font-family: $font-main;
        word-spacing: -5px;
    }

    p {
        font-family: $font-italic2;
        font-size: 16px;
    }
}

.all-cards {
    padding: 50px 0;
}

/* PORFTOLIO */

.portfolio {
    background-color: $background-color-section;
    padding-bottom: 96px;

    .card {
        text-align: center;
        padding-bottom: 40px;
        
        .card-image {
            height: 300px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }

        .card-body {
            height: 150px;
            background: $color-text;
            padding: 15px 0;

            .card-title {
                font-family: $font-main;
                word-spacing: -5px;
            }

            .card-text {
                font-family: $font-italic2;
            }
        }
    }
}

/* FOOTER */

.copyright {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    opacity: .8;
    text-align: center;
}


.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul {
    margin: 0;
    text-align: center;
    padding: 0;

    li {
        padding: 15px;

        i {
        font-size: 30px;
        color: #00a8ff;
        opacity: .6;
        }
    }
}

/* MEDIA */

@media (max-width: 1164px) {

    .nav-list {
        text-align: center;
        padding-left: 30px;

        ul {
            margin: 5px;
            padding: 0;

            li {
                padding: 3px;
                font-size: 11px;
            }
        }
    }

    .banner {
        padding: 5px 0 0 30px;
    }

    .splash-inner {

        .first-header {
            font-size: 15px;
        }

        .second-header {
            font-size: 25px;
            padding-bottom: 10px;
            word-spacing: -10px;
        }

        .btn {
            font-size: 15px;
            padding: 5px 10px 10px;
        }
    }

    .splash {
        padding-left: 30px;

    }
}